<div style="padding: 5%;padding-left: 7%;padding-right: 7%;">
<div class="about">
<h2>ABOUT</h2>
<div class="p">
  <ul>
<li><P>Privacy preservation of data ensures that the  data is only accessible by the intended receiver and prevents any modification or alteration of data during transmission.</P>
<br>
<li><p>In order to achieve this level of security, various cryptographic algorithms and methods have been developed and tested over time.
</p></li>
<br>
<li><p>In our project, a combination of such algorithms will be tested against algorithms used individually. By doing so, we can conclude that a particular combination of algorithms is efficient and highly secure which can be used for secure data transmission. </p></li>
  </ul>
</div>
</div>

<div class="progress">
  <a class="btn" routerLink='/file' mat-button > Next </a>
</div>

</div>
