<div style="padding: 5%;">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-card class="mat-elevation-z8 card" style="width:80% ;">
        <mat-card-title><h1>ABOUT</h1></mat-card-title>
        <hr style="background-color: black;">
        <mat-card-content>
       
            <ul>
          <li><P>Privacy preservation of data ensures that the  data is only accessible by the intended receiver and prevents any modification or alteration of data during transmission.</P>
          <br>
          <li><p>In order to achieve this level of security, various cryptographic algorithms and methods have been developed and tested over time.
          </p></li>
          <br>
          <li><p>In our project, a combination of such algorithms will be tested against algorithms used individually. By doing so, we can conclude that a particular combination of algorithms is efficient and highly secure which can be used for secure data transmission. </p></li>
            </ul>
          
        </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-elevation-z8 card" style="width:80% ;">
      
      <mat-card-title><h1>STEPS</h1></mat-card-title>
<hr style="background-color: black;">
    <div class="img"> 
        <img mat-card-image src="assets/progress1.jpg" alt="Photo of a Shiba Inu">
       </div>
        
     
      <mat-card-actions align="end">
      <div class="next">
        <button mat-button routerLink='/file' class="btn1">NEXT</button>
      </div>
      </mat-card-actions>
      
    </mat-card>
     
</mat-grid-tile>
  </mat-grid-list>
  <!--
<div class="about">
<h2>ABOUT</h2>
<div class="p">
  <ul>
<li><P>Privacy preservation of data ensures that the  data is only accessible by the intended receiver and prevents any modification or alteration of data during transmission.</P>
<br>
<li><p>In order to achieve this level of security, various cryptographic algorithms and methods have been developed and tested over time.
</p></li>
<br>
<li><p>In our project, a combination of such algorithms will be tested against algorithms used individually. By doing so, we can conclude that a particular combination of algorithms is efficient and highly secure which can be used for secure data transmission. </p></li>
  </ul>
</div>
</div>

<div class="progress">
  <a class="btn" routerLink='/file' mat-button > Next </a>
</div>
-->
</div>
