.about{
    height: 400px;
    width: 40%;
    border: solid;
    position: absolute;
    border-width: 15px;
    border-color: #75a2fc;
    border-radius: 10%;

}

.progress{
    height: 400px;
    width: 40%;
    border: solid;
    position: absolute;
    left: 50%;
    border-width: 15px;
    border-color: #75a2fc;
    border-radius: 10%;
       
}

h1{
    position: absolute;
    left: 40%;

}

.btn{
    color: black;
    background-color: #e5322d;
    position: absolute;
    top: 88%;
    left: 80%;
    border-bottom-right-radius: 20px;
    border: solid;
}