

input[type="file"]{
    display: none;
}

.button{
    display: none;
}
.up{
    margin: 0;
    position: absolute;
    left: 85%;
    width: 80px;
    
}

label{
    background-color: #e5322d;
    color: rgb(224, 221, 221);
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    height: 40px;
    
   
}

label:hover{
    background-color: black;
}

.div{
    border-radius: 20px;
    background-color:white;
    border-style: solid;
    width: 90%;
    height: 65px;
   padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, 50%);
    
}



hr{
    width: 100%;
    border-width: 2px;
    border-color:black ;
    
}

.stepper{
    width: 60%;
    transform: translate(35%, 0%);
}

.textarea{
  
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -95%);
}

.txt{
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.or{
    padding: 5px;
    border-radius: 45%;
    border: solid;
    border-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    color:black;
    background-color: white;
    
    
}

.box{
    height: 55%;
}

.line1{
    
}



.div1{
    transform: translate(0%,600%);
}

.card{
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 420px;
}

.action{
    transform: translate(0%,100%);
}

.select{
    width: 100%;
    height:50px;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
}

.data{
    width: 100%;
    height: 150px;
    border: solid;
    border-radius: 20px;
}

.next{
    background-color: black;
    border-radius: 20px;
}