
       <mat-horizontal-stepper>
       <mat-step label="Step 1"> </mat-step>
         
       <mat-step label="Step 2"> </mat-step>

       <mat-step label="Done"> </mat-step>
     </mat-horizontal-stepper>
     
<!--
<div class="box">
      
<span class="line11"></span>
<span class="line1"></span>

<span class="line2"></span>
<span class="line3"></span>
<span class="tick"></span>
<span class="dot1"></span>
<span class="dot2"></span>
<span class="dot3"></span>

<div  class="textarea">
<span class="or" >or</span>
<textarea style="  width: 100%; background-color: #e3e4e6;border-radius: 20px;" rows="3"></textarea>
<br>
<br>
<hr>
</div>
<br>

<div class="div">
<form>
<div>
      <input type="file" name="file" id="file" accept=".txt" (change)="selectFile($event)">
      <label class="choose" for="file">Choose File</label>
     <span class="txt"> {{files1}} </span>
     <button type="submit" id="upload"  (click)="onSubmit()">Upload</button>
     <label class="up" for="upload">
            Upload
     </label> 
</div>
<br>
<div>
      
</div>
</form>
</div>

</div>
-->

