

input[type="file"]{
    display: none;
}

button{
    display: none;
}
.up{
    margin: 0;
    position: absolute;
    left: 85%;
    width: 80px;
    
}

label{
    background-color: #e5322d;
    color: rgb(224, 221, 221);
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    height: 40px;
    
   
}

label:hover{
    background-color: black;
}

.div{
    background-color: #e3e4e6;
    border-style: solid;
    width: 90%;
    height: 65px;
   padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, 50%);
    border-radius: 20px;
}



hr{
    width: 100%;
    border-width: 2px;
    border-color:black ;
    
}

.textarea{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -95%);
}

.txt{
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.or{
    padding: 5px;
    border-radius: 45%;
    border: solid;
    border-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    color:black;
    background-color: #467ff1;
    
    
}

.box{
    height: 55%;
}

.line1{
    
}