
       <mat-horizontal-stepper class="stepper" linear>
       <mat-step label="Step 1" completed="{{s1}}" >
              <mat-card class="mat-elevation-z12 card" >
                     <mat-card-title><h1 align="center">Choose File</h1></mat-card-title>
                     <hr>
                     <mat-card-content>
                            <div class="div1">
                            <div  class="textarea">
                                   <span class="or" >or</span>
                                   <textarea style="  width: 100%; background-color: white;border-radius: 20px;border-color: black; border: solid;padding: 10px;" placeholder="Type Here ..." rows="3" [(ngModel)]="text" (keyup)="textarea()" ></textarea>
                                   <br>
                                   <br>
                                   <hr>
                                   </div>
                                   <br>
                                   
                                   <div class="div">
                                         
                                   <form>
                                   <div>
                                         <input type="file" name="file" id="file" accept=".txt" (change)="selectFile($event)" >
                                         <label class="choose" for="file">Choose File</label>
                                        <span class="txt"> {{files1}} </span>
                                        
                                        
                                   </div>
                                   <br>
                                   <div>
                                          <mat-card-actions align="end">
                                          <div class="next">
                                          <button mat-button type="submit" id="upload" style="color: white;" matStepperNext  (click)="onSubmit()" disabled="{{disable2}}">Next</button>
                                          </div>
                                   </mat-card-actions>
                                   </div>
                                   </form>
                                   </div>
                        
                       </div>
                     </mat-card-content>

                   </mat-card>
       </mat-step>
         
       <mat-step label="Step 2" completed="{{s2}}" >
              <mat-card class="mat-elevation-z8 card" style="height: 500px;" >
                     <mat-card-title><h2 align="center">Select Hashing and Encryption Algorithms</h2></mat-card-title>
                     <hr style="background-color: black;">
                     <mat-card-content>
                            <p>Encryption Algorithm 1</p>
                            
                            <select name="Encryption Algorithm 1" id="E1" class="select" [(ngModel)]="selectE1" (click)="onselect()">
                                   
                                   <option value="Encryption Algorithm 1" selected>Encryption Algorithm 1</option>
                                   <option value="RSA">RSA</option>
                                   <option value="DES">DES</option>
                                   <option value="AES">AES</option>
                                   <option value="ElGamal">ElGamal</option>
                                   <option value="Rabin">Rabin</option>
                                   <option value="Elliptic Curve Cryptosystems">Elliptic Curve Cryptosystems</option>

                                 </select>
                            <br>
                            <br>
                            <p>Encryption Algorithm 2 (Optional)</p>
                                 <select name="Encryption Algorithm 1" id="E1" class="select" [(ngModel)]="selectE2">
                                   <option value="Encryption Algorithm 1" selected>Encryption Algorithm 2</option>
                                   <option value="RSA">RSA</option>
                                   <option value="DES">DES</option>
                                   <option value="AES">AES</option>
                                   <option value="ElGamal">ElGamal</option>
                                   <option value="Rabin">Rabin</option>
                                   <option value="Elliptic Curve Cryptosystems">Elliptic Curve Cryptosystems</option>

                                 </select>
                                 
                                 <br>
                                 <hr>
                                 
                                 <p>Hashing Algorithm</p>
                                 <select name="Hashing Algorithm" id="E1" class="select" [(ngModel)]="selectH" (click)="onselect()">
                                   <option value="Hashing Algorithm" selected>Hashing Algorithm</option>
                                   <option value="SHA-1">SHA-1</option>
                                   <option value="SHA-256">SHA-256</option>
                                   <option value="MD5">MD5</option>
                                   <option value="SNEFRU">SNEFRU</option>
                                   <option value="HAVAL">HAVAL</option>
                                   

                                 </select>

                             

                                 
                     </mat-card-content>
                     <mat-card-actions align="end">
                            <div class="next">
                            <button mat-button matStepperNext (click)="review()" disabled="{{disable}}" style="color: white;">Next</button>
                            </div>
                     </mat-card-actions>
                     
                   </mat-card>
       </mat-step>

       <mat-step label="Done">
              <mat-card class="mat-elevation-z8 card" style="height: 480px;" >
                     <mat-card-title><h1 align="center">Review</h1></mat-card-title>
                     <hr style="background-color: black;">
                     <mat-card-content>
                           
                           <textarea class="data" rows="3" style="padding: 10px;" placeholder=" {{data}}" disabled></textarea>
                           
                     <hr>
                     Algorithms:
                     <ul>
                            <li>{{selectE1}}</li>
                            <li>{{selectE2}}</li>
                            <li>{{selectH}}</li>
                     </ul>
                     </mat-card-content>
                     <mat-card-actions align="end">
                            <div class="next">
                            <button mat-button routerLink='/hash' (click)="review()" disabled="{{disable}}" style="color: white;">Send</button>
                            </div>
                     </mat-card-actions>
                     </mat-card>
       </mat-step>
     </mat-horizontal-stepper>
 

     
  
<!--
<div class="box">
      
<span class="line11"></span>
<span class="line1"></span>

<span class="line2"></span>
<span class="line3"></span>
<span class="tick"></span>
<span class="dot1"></span>
<span class="dot2"></span>
<span class="dot3"></span>

<div  class="textarea">
<span class="or" >or</span>
<textarea style="  width: 100%; background-color: #e3e4e6;border-radius: 20px;" rows="3"></textarea>
<br>
<br>
<hr>
</div>
<br>

<div class="div">
<form>
<div>
      <input type="file" name="file" id="file" accept=".txt" (change)="selectFile($event)">
      <label class="choose" for="file">Choose File</label>
     <span class="txt"> {{files1}} </span>
     <button type="submit" id="upload"  (click)="onSubmit()">Upload</button>
     <label class="up" for="upload">
            Upload
     </label> 
</div>
<br>
<div>
      
</div>
</form>
</div>

</div>
-->

