<!DOCTYPE html>
<html>
    <head>
      <title> Report</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
            h1 {
              font-size: 20px;
              margin-top: 24px;
              margin-bottom: 24px;
            }

            img {
            height: 60px;
            }
            body,h1,h2,h3,h4,h5,h6 {
              font-family: "Lato", sans-serif;
            }
            .w3-bar,h1,button {
              font-family: "Montserrat", sans-serif;
            }
            .fa-anchor,.fa-coffee {
              font-size: 200px;
            }
            .w3-container{
                height: 30px;
            }
        </style>
    </head>
    <body>
 

   <div class="col-md-6 offset-md-3 mt-5" style="border: solid;padding: 10px;border-color: royalblue;border-radius: 20px;">
     <h1>Data Encryption Benchmark</h1>
     <form accept-charset="UTF-8" action="http://127.0.0.1:5000/fileupload" method="POST" enctype="multipart/form-data">

      <div>

        <div class="input-group custom-file-button">
          <label class="input-group-text" for="inputGroupFile" style="background-color: royalblue;color: white;">Choose File</label>
          <input type="file" accept=".txt" name="file" class="form-control" id="inputGroupFile">
        </div>
      
      </div>

    
        <br>
       <div class="form-group">
         <!-- 3 radio group and 5 options -->
         <h5>Encryption Algorithm - 1</h5>
         <fieldset id="E0">
            <input type="radio"  value="DES" name="E0" id="DES0" class="hidden"> 
            <label for="DES0" class="button-label btn btn-primary" >DES</label>
            <input type="radio"  value="AES" name="E0" id="AES0" class="hidden"> 
            <label for="AES0" class="button-label btn btn-primary" >AES</label>  
            <input type="radio" value="Rabin" name="E0" id="Rabin0" class="hidden"> 
            <label for="Rabin0" class="button-label btn btn-primary" >Rabin</label>
            <input type="radio" value="Elliptic Curve Cryptosystem" name="E0" id="ECC0" class="hidden">
            <label for="ECC0" class="button-label btn btn-primary">Elliptic Curve Cryptosystem</label>
        </fieldset>
        <br>
          
        <h5>Encryption Algorithm - 2 (Optional)</h5>
        <fieldset id="E1">
            <input type="radio" value="None" name="E1" id="None" class="hidden">
            <label for="None" class="button-label btn btn-primary">None</label>
            <input type="radio" value="DES" name="E1" id="DES1" class="hidden">
            <label for="DES1" class="button-label btn btn-primary">DES</label>
            <input type="radio"  value="AES" name="E1" id="AES1" class="hidden">
            <label for="AES1" class="button-label btn btn-primary">AES</label>  
            <input type="radio" value="Rabin" name="E1" id="Rabin1" class="hidden">
            <label for="Rabin1" class="button-label btn btn-primary">Rabin</label>
            <input type="radio" value="Elliptic Curve Cryptosystem" name="E1" id="ECC1" class="hidden">
            <label for="ECC1" class="button-label btn btn-primary">Elliptic Curve Cryptosystem</label>
        </fieldset>

        <br>

        <h5>Hashing</h5>
        <fieldset id="H0">
            <input type="radio" value="SHA1" name="H0" id="SHA-1" class="hidden">
            <label for="SHA-1" class="button-label btn btn-primary">SHA-1</label>
            <input type="radio" value="SHA256" name="H0" id="SHA-256" class="hidden">
            <label for="SHA-256" class="button-label btn btn-primary">SHA-256 </label>
            <input type="radio" value="MD5" name="H0" id="MD5" class="hidden">
            <label for="MD5" class="button-label btn btn-primary">MD5</label>
            <input type="radio" value="SNEFRU" name="H0" id="SNEFRU" class="hidden">
            <label for="SNEFRU" class="button-label btn btn-primary">SNEFRU</label>
            <input type="radio" value="HAVAL" name="H0" id="HAVAL" class="hidden"> 
            <label for="HAVAL" class="button-label btn btn-primary">HAVAL</label>
        </fieldset>
      
       </div>
       <hr style="color: royalblue;border-color: royalblue;">
       Submit process request
       <button type="submit" class="btn btn-primary">Submit</button>
     </form>
 </div> 
 </body>
</html>