.textarea{
    padding: 20px;
}


.text{
    width: 100%;
    height: 150px;
    background-color:#e3e4e6;
    border-radius: 20px;
}

.dot1{
    background-color: green;
}

.dot2{
    background-color: green;
}

.line33{
    height: 10px;
    width: 33.33%;
    background-color: green;
    transform: translate(200%, -650%);
    display: inline-block;
    position: absolute;
    animation-name: example;
   animation-duration: 2s; 

}

@keyframes example {
    0%   { width: 0%;}
    100% { width: 33.33%;}
  }

  .line11{
    background-color: green;
  }

  .line2{
    background-color: green;
  }
  
  .box{

    transform: translate(-50%, -39%)
  }

 