/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://wallpaperaccess.com/full/4062573.jpg");
    background-repeat: no-repeat;
    background-size: 110% 700%;
}