
<h1 align="center">Receiver</h1>
<div>
<mat-grid-list cols="3" rowHeight="52.5px"  >
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      
      >
      <h3>Encrypted Data</h3>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
     
      >
      <h3>Decrypted Data</h3>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
     
      >
      <h3>Time Duration</h3>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="7"
      
      >
    
    <textarea disabled class="mat-elevation-z12" style="width: 80%;height:100%;border: solid;border-radius: 20px;"></textarea>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="7"
     
      >
      <textarea disabled class="mat-elevation-z12" style="width: 80%;height:100%;border: solid;border-radius: 20px;"></textarea>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="3"
   
      >
      <mat-card class="mat-elevation-z12 card" style="width: 50%;height:90%;border:solid;border-radius:20px" >
        
        
      </mat-card>
    
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
   
      >
      <h3>Overall Overhead</h3>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="3"
     
      >
      <mat-card class="mat-elevation-z12 card" style="width: 50%;height:90%;border:solid;border-radius:20px" >
        
        
      </mat-card>
  </mat-grid-tile>
  
</mat-grid-list>
</div>