
<h1 align="center">Receiver</h1>


<div>
<mat-grid-list cols="3" rowHeight="52.5px"  >
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      
      >
      <h3>Encrypted Data</h3>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
     
      >
      <h3>Decrypted Data</h3>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
     
      >
      <h3>Time Duration</h3>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="7"
      
      >
      <div *ngIf="!endata" class="spinner">
        <mat-spinner diameter="200"></mat-spinner>
    </div>
    <textarea disabled class="mat-elevation-z12" style="width: 80%;height:100%;border: solid;border-radius: 20px;padding: 10px;">{{endata}}</textarea>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="7"
     
      >
      <div *ngIf="!dedata" class="spinner">
        <mat-spinner diameter="200"></mat-spinner>
    </div>
      <textarea disabled class="mat-elevation-z12" style="width: 80%;height:100%;border: solid;border-radius: 20px;padding: 10px;">{{dedata}}</textarea>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="3"
   
      >
      <mat-card class="mat-elevation-z12 card" style="width: 50%;height:90%;border:solid;border-radius:20px" >
        <div *ngIf="!tddata" style="position: absolute;left: 25%;">
            <mat-spinner diameter="100"></mat-spinner>
        </div>
        <p>{{tddata}}</p>
        
      </mat-card>
    
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
   
      >
      <h3>Overall Overhead</h3>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="3"
     
      >
      <mat-card class="mat-elevation-z12 card" style="width: 50%;height:90%;border:solid;border-radius:20px" >
        
        <div *ngIf="!ovdata" style="position: absolute;left: 25%;">
            <mat-spinner diameter="100"></mat-spinner>
        </div>
        <p>{{ovdata}}</p>
      </mat-card>
  </mat-grid-tile>
  
</mat-grid-list>
</div>